$pink: #F1D2D5;
$red: #D31E35;
$burgundy: #7B0816;
$cantalope: #FEE3D0;
$orange: #FFA800;
$brown: #BB7534;
$banana: #FEF7D0;
$canary: #FFD700;
$dijon: #BBA134;
$lavender: #DEDAF4;
$violet: #8672FF;
$purple: #521DA8;
$mint: #DBF8E4;
$bright_breen: #6CDD7E;
$ever-green: #429349;
$sky-blue: #B9DDFF;
$azure: #40A1FB;
$true-blue: #2A83D4;
$off-white: #F0F0F0;
$white: #FFFFFF;
$french-gray: #E2E2E2;
$light-gray: #737373;

$primary: $brown;