openapi: 3.0.0
info:
  title: Broker API
  description: 'Open brokerage accounts, enable commission-free trading, and manage the ongoing user experience with Alpaca Broker API'
  version: 1.0.0
  contact:
    name: Alpaca Support
    email: support@alpaca.markets
    url: 'https://alpaca.markets/support'
  termsOfService: 'https://s3.amazonaws.com/files.alpaca.markets/disclosures/library/TermsAndConditions.pdf'
servers:
  - url: 'https://broker-api.sandbox.alpaca.markets'
    description: Sandbox endpoint
  - url: 'https://broker-api.alpaca.markets'
    description: Production endpoint
tags:
  - name: Accounts
  - name: Documents
  - name: Trading
  - name: Assets
  - name: Calendar
  - name: Events
  - name: Funding
  - name: OAuth
  - name: Clock
  - name: Journals
  - name: Watchlist
  - name: Corporate Actions
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  parameters:
    ActivityType:
      in: path
      name: activity_type
      required: true
      schema:
        type: string
        enum:
          - FILL
          - ACATC
          - ACATS
          - CSD
          - CSR
          - CSW
          - DIV
          - DIVCGL
          - DIVCGS
          - DIVNRA
          - DIVROC
          - DIVTXEX
          - INT
          - JNLC
          - JNLS
          - MA
          - NC
          - PTC
          - REORG
          - SSO
          - SSP
      description: see ActivityType model for details
    Status:
      name: status
      in: query
      description: Status of the orders to list.
      schema:
        type: string
        enum:
          - open
          - closed
          - all
    Limit:
      name: limit
      in: query
      description: The maximum number of orders in response.
      schema:
        type: integer
        example: 500
    After:
      name: after
      in: query
      description: The response will include only ones submitted after this timestamp (exclusive.)
      schema:
        type: string
        format: date-time
        example: '2021-03-16T18:38:01.942282Z'
    Until:
      name: until
      in: query
      description: The response will include only ones submitted until this timestamp (exclusive.)
      schema:
        type: string
        format: date-time
        example: '2021-03-16T18:38:01.942282Z'
    Direction:
      name: direction
      in: query
      description: The chronological order of response based on the submission time. asc or desc. Defaults to desc.
      schema:
        type: string
        enum:
          - asc
          - desc
        example: desc
    Sort:
      name: sort
      in: query
      description: The chronological order of response based on the submission time. asc or desc. Defaults to desc.
      schema:
        type: string
        enum:
          - asc
          - desc
        example: desc
    Nested:
      name: nested
      in: query
      description: 'If true, the result will roll up multi-leg orders under the legs field of primary order.'
      schema:
        type: boolean
        example: false
    Symbols:
      name: symbols
      in: query
      description: A comma-separated list of symbols to filter by.
      schema:
        type: string
        example: 'AAPL,TSLA,MSFT'
    AccountID:
      name: account_id
      in: path
      required: true
      description: Account identifier.
      schema:
        type: string
        format: uuid
    OrderID:
      name: order_id
      in: path
      required: true
      description: Order identifier.
      schema:
        type: string
    DocumentID:
      name: document_id
      in: path
      required: true
      description: Document identifier.
      schema:
        type: string
        format: uuid
    DocumentType:
      name: type
      in: query
      required: false
      description: See DocumentType model for reference and explanation of values
      schema:
        example: identity_verification
        type: string
        enum:
          - identity_verification
          - address_verification
          - date_of_birth_verification
          - tax_id_verification
          - account_approval_letter
          - cip_result
    PageToken:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: 'TODO: find a good way to generalize the description of page_tokens'
  schemas:
    Account:
      type: object
      example:
        id: 0d18ae51-3c94-4511-b209-101e1666416b
        account_number: '9034005019'
        status: APPROVED
        currency: USD
        created_at: '2019-09-30T23:55:31.185998Z'
        last_equity: '1500.65'
      title: ''
      description: Represents high level account info. Used when returning entire account information would not be useful like the getAllAccounts operation
      properties:
        id:
          type: string
          format: uuid
        account_number:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        crypto_status:
          $ref: '#/components/schemas/AccountStatus'
        currency:
          type: string
          description: Always "USD"
          example: USD
        created_at:
          type: string
          format: date-time
        last_equity:
          type: string
          format: decimal
        kyc_results:
          $ref: '#/components/schemas/KYCResult'
        account_type:
          $ref: '#/components/schemas/AccountType'
    TradeAccount:
      type: object
      x-examples:
        example-1:
          id: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
          account_number: '927584925'
          status: ACTIVE
          currency: USD
          buying_power: '103556.8572572922'
          regt_buying_power: '52921.2982330664'
          daytrading_buying_power: '103556.8572572922'
          cash: '24861.91'
          cash_withdrawable: '17861.91'
          cash_transferable: '24861.91'
          accrued_fees: '0'
          pending_transfer_out: '0'
          portfolio_value: '28059.3882330664'
          pattern_day_trader: true
          trading_blocked: false
          transfers_blocked: false
          account_blocked: false
          created_at: '2021-03-01T13:28:49.270232Z'
          trade_suspended_by_user: false
          multiplier: '2'
          shorting_enabled: true
          equity: '28059.3882330664'
          last_equity: '26977.323677655'
          long_market_value: '3197.4782330664'
          short_market_value: '0'
          initial_margin: '1598.7391165332'
          maintenance_margin: '959.24346991992'
          last_maintenance_margin: '934.6241032965'
          sma: '26758.0590204615'
          daytrade_count: 0
          previous_close: '2021-04-01T19:00:00-04:00'
          last_long_market_value: '3115.413677655'
          last_short_market_value: '0'
          last_cash: '23861.91'
          last_initial_margin: '1557.7068388275'
          last_regt_buying_power: '50839.233677655'
          last_daytrading_buying_power: '104433.9158860662'
          last_buying_power: '104433.9158860662'
          last_daytrade_count: 0
          clearing_broker: VELOX
        example-2:
          id: 56712986-9ff7-4d8f-8e52-077e099e533e
          account_number: '601612064'
          status: ACTIVE
          crypto_status: PAPER_ONLY
          currency: USD
          buying_power: '83567.42'
          regt_buying_power: '83567.42'
          daytrading_buying_power: '0'
          non_marginable_buying_power: '41783.71'
          cash: '83567.42'
          cash_withdrawable: '0'
          cash_transferable: '41783.71'
          accrued_fees: '0'
          pending_transfer_out: '0'
          pending_transfer_in: '0'
          portfolio_value: '83567.42'
          pattern_day_trader: false
          trading_blocked: false
          transfers_blocked: false
          account_blocked: false
          created_at: '2022-01-21T21:25:26.713802Z'
          trade_suspended_by_user: false
          multiplier: '1'
          shorting_enabled: false
          equity: '83567.42'
          last_equity: '41783.71'
          long_market_value: '0'
          short_market_value: '0'
          initial_margin: '0'
          maintenance_margin: '0'
          last_maintenance_margin: '0'
          sma: '0'
          daytrade_count: 0
          previous_close: '2022-02-08T19:00:00-05:00'
          last_long_market_value: '0'
          last_short_market_value: '0'
          last_cash: '41783.71'
          last_initial_margin: '0'
          last_regt_buying_power: '41783.71'
          last_daytrading_buying_power: '0'
          last_buying_power: '41783.71'
          last_daytrade_count: 0
          clearing_broker: VELOX
      description: |-
        This is an extended version of the Account model found [in the trading api](https://alpaca.markets/docs/api-references/trading-api/account/#account-entity).

        Extra data has been added that would be useful for brokers.
      properties:
        id:
          type: string
          example: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
          format: uuid
          description: The account ID
        account_number:
          type: string
          example: '927584925'
          description: The account number
        status:
          $ref: '#/components/schemas/AccountStatus'
        currency:
          type: string
          example: USD
          description: Always USD
        buying_power:
          type: string
          example: '12345.6789'
          description: Current available cash buying power. If multiplier = 2 then buying_power = max(equity-initial_margin(0) * 2). If multiplier = 1 then buying_power = cash.
        regt_buying_power:
          type: string
          example: '12345.6789'
          description: User’s buying power under Regulation T (excess equity - (equity - margin value) - * margin multiplier)
        daytrading_buying_power:
          type: string
          example: '12345.6789'
          description: Your buying power for day trades (continuously updated value)
        cash:
          type: string
          example: '12345.6789'
          description: Cash balance
        cash_withdrawable:
          type: string
          example: '12345.6789'
          description: Cash available for withdrawl
        cash_transferable:
          type: string
          example: '12345.6789'
          description: Cash available for transfer (JNLC)
        pending_transfer_out:
          type: string
          example: '12345.6789'
          description: Cash pending transfer out
        portfolio_value:
          type: string
          example: '12345.6789'
          description: Total value of cash + holding positions. (This field is deprecated. It is equivalent to the equity field.)
        pattern_day_trader:
          type: boolean
          example: false
          description: Whether account is flagged as pattern day trader or not
        trading_blocked:
          type: boolean
          example: false
          description: 'If true, the account is not allowed to place orders.'
        transfers_blocked:
          type: boolean
          example: false
          description: 'If true, the account is not allowed to request money transfers.'
        account_blocked:
          type: boolean
          example: false
          description: 'If true, the account activity by user is prohibited.'
        created_at:
          type: string
          example: '2021-03-01T13:28:49.270232Z'
          description: Timestamp this account was created at
        trade_suspended_by_user:
          type: boolean
          example: false
          description: 'If true, the account is not allowed to place orders.'
        multiplier:
          type: string
          example: '2'
          description: “1” or “2”
          enum:
            - '1'
            - '2'
        shorting_enabled:
          type: boolean
          example: false
          description: Flag to denote whether or not the account is permitted to short
        equity:
          type: string
          example: '12345.6789'
          description: cash + long_market_value + short_market_value
        last_equity:
          type: string
          example: '12345.6789'
          description: 'Equity as of previous trading day at 16:00:00 ET'
        long_market_value:
          type: string
          example: '12345.6789'
          description: Real-time MtM value of all long positions held in the account
        short_market_value:
          type: string
          example: '0'
          description: Real-time MtM value of all short positions held in the account
        initial_margin:
          type: string
          example: '12345.6789'
          description: Reg T initial margin requirement (continuously updated value)
        maintenance_margin:
          type: string
          example: '12345.6789'
          description: Maintenance margin requirement (continuously updated value)
        last_maintenance_margin:
          type: string
          example: '12345.6789'
          description: Maintenance margin requirement on the previous trading day
        sma:
          type: string
          example: '12345.6789'
          description: Value of Special Memorandum Account (will be used at a later date to provide additional buying_power)
        daytrade_count:
          type: integer
          example: 0
          description: The current number of daytrades that have been made in the last 5 trading days (inclusive of today)
        previous_close:
          type: string
          example: '2021-04-01T19:00:00-04:00'
          description: Previous sessions close time
        last_long_market_value:
          type: string
          example: '12345.6789'
          description: 'Value of all long positions as of previous trading day at 16:00:00 ET'
        last_short_market_value:
          type: string
          example: '0'
          description: 'Value of all short positions as of previous trading day at 16:00:00 ET'
        last_cash:
          type: string
          example: '12345.6789'
          description: 'Value of all cash as of previous trading day at 16:00:00 ET'
        last_initial_margin:
          type: string
          example: '12345.6789'
          description: 'Value of Reg T margin as of previous trading day at 16:00:00 ET'
        last_regt_buying_power:
          type: string
          example: '12345.6789'
          description: 'Value of Reg T buying power as of previous trading day at 16:00:00 ET'
        last_daytrading_buying_power:
          type: string
          example: '12345.6789'
          description: 'Value of daytrading buying power as of previous trading day at 16:00:00 ET'
        last_buying_power:
          type: string
          example: '12345.6789'
          description: 'Value of buying_power as of previous trading day at 16:00:00 ET'
        last_daytrade_count:
          type: integer
          example: 0
          description: 'Value of daytrade count as of previous trading day at 16:00:00 ET'
        clearing_broker:
          type: string
          example: Velox
          description: Clearing broker
      required:
        - id
        - account_number
        - status
    AccountStatus:
      type: string
      example: ACTIVE
      enum:
        - ONBOARDING
        - SUBMITTED
        - RESUBMITTED
        - SUBMISSION_FAILED
        - ACTION_REQUIRED
        - EDITED
        - ACCOUNT_UPDATED
        - APPROVAL_PENDING
        - REAPPROVAL_PENDING
        - SIGNED_UP
        - KYC_SUBMITTED
        - LIMITED
        - AML_REVIEW
        - APPROVED
        - REJECTED
        - ACTIVE
        - DISABLED
        - DISABLE_PENDING
        - ACCOUNT_CLOSED
        - PAPER_ONLY
      description: |
        Designates the current status of this account

        Possible Values:
        - **ONBOARDING**
        An application is expected for this user, but has not been submitted yet.
        - **SUBMITTED**
        The application has been submitted and in process.
        - **RESUBMITTED**
        Resubmitted is used to display when request has been re-submitted to Apex after account update
        - **SUBMISSION_FAILED**
        Used to display if failure on submission
        - **ACTION_REQUIRED**
        The application requires manual action.
        - **EDITED**
        Application was edited (e.g. to match info from uploaded docs). This is a transient status.
        - **ACCOUNT_UPDATED**
        Used to display when Account has been modified by user
        - **APPROVAL_PENDING**
        Initial value. The application approval process is in process.
        - **REAPPROVAL_PENDING**
        This is a transient status used to display once apex approves a re-submission
        - **SIGNED_UP**
        Users who were directed to and competed the [first stage](https://app.alpaca.markets/signup) of v2 registration
        - **KYC_SUBMITTED**
        Users that have had their KYC submitted to the routed KYC Provider
        - **LIMITED**
        Limited Users that pass KYC but are missing financial_information and employment_details
        - **AML_REVIEW**
        Users that pass KYC but from a restricted/high risk country and need manual AML approval
        - **APPROVED**
        The account application has been approved, and waiting to be ACTIVE
        - **REJECTED**
        The account application is rejected for some reason
        - **ACTIVE**
        The account is fully active. Trading and funding are processed under this status.
        - **DISABLED**
        The account is disabled after ACTIVE status.
        - **DISABLE_PENDING**
        DisablePending is used for accounts which requested to be disabled, but have not been processed yet.
        - **ACCOUNT_CLOSED**
        The account is closed.
        - **PAPER_ONLY**
        Used to display when only paper trading is allowed for this account
    AccountType:
      type: string
      title: AccountType
      description: |-
        Possible values are:

        - trading
        - custodial
        - donor_advised
        - traditional
        - traditional_rollover
        - roth_rollover
        - roth
        - trust
      enum:
        - trading
        - custodial
        - donor_advised
        - traditional
        - traditional_rollover
        - roth_rollover
        - roth
        - trust
      example: trading
    AccountExtended:
      type: object
      description: 'Represents an account with all data available. If your api response is missing some of these fields, there is a good chance you are using a route that returns `Account` instances instead of these.'
      x-examples:
        example-1:
          id: 3dcb795c-3ccc-402a-abb9-07e26a1b1326
          account_number: '601842165'
          status: ACTIVE
          crypto_status: PAPER_ONLY
          currency: USD
          last_equity: '40645.13'
          created_at: '2022-01-21T21:25:26.583576Z'
          contact:
            email_address: strange_elbakyan_97324509@example.com
            phone_number: 614-555-0697
            street_address:
              - 20 N San Mateo Dr
            city: San Mateo
            state: CA
            postal_code: '94401'
          identity:
            given_name: Strange
            family_name: Elbakyan
            date_of_birth: '1970-01-01'
            tax_id_type: USA_SNN
            country_of_citizenship: USA
            country_of_birth: USA
            country_of_tax_residence: USA
            funding_source:
              - employment_income
            visa_type: null
            visa_expiration_date: null
            date_of_departure_from_usa: null
            permanent_resident: null
          disclosures:
            is_control_person: false
            is_affiliated_exchange_or_finra: false
            is_politically_exposed: false
            immediate_family_exposed: false
            is_discretionary: false
          agreements:
            - agreement: margin_agreement
              signed_at: '2022-01-21T21:25:26.579487214Z'
              ip_address: 127.0.0.1
              revision: null
            - agreement: customer_agreement
              signed_at: '2022-01-21T21:25:26.579487214Z'
              ip_address: 127.0.0.1
              revision: null
            - agreement: account_agreement
              signed_at: '2022-01-21T21:25:26.579487214Z'
              ip_address: 127.0.0.1
              revision: null
          documents:
            - document_type: identity_verification
              document_sub_type: passport
              id: d5af1585-6c60-494d-9ea5-c5df62704229
              content: 'https://s3.amazonaws.com/stg.alpaca.markets/documents/accounts/3dcb795c-3ccc-402a-abb9-07e26a1b1326/2490f5d9-8988-4405-a3e0-d76e65de13c2.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJLDF4SCWSL6HUQKA%2F20220210%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220210T162205Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=bc6cc0f541d569623f3973fb83734d7960a69886e8b175a9d472f666b87419f1'
              created_at: '2022-01-21T21:25:28.184231Z'
          trusted_contact:
            given_name: Jane
            family_name: Doe
            email_address: strange_elbakyan_97324509@example.com
          account_type: trading
          trading_configurations: null
      properties:
        id:
          type: string
          format: uuid
        account_number:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        crypto_status:
          $ref: '#/components/schemas/AccountStatus'
        kyc_result:
          $ref: '#/components/schemas/KYCResult'
        currency:
          type: string
          description: Always "USD"
          example: USD
        last_equity:
          type: string
          format: decimal
        created_at:
          type: string
          format: date-time
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        agreements:
          $ref: '#/components/schemas/Agreements'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDocument'
        trusted_contact:
          $ref: '#/components/schemas/TrustedContact'
        account_name:
          type: string
        account_type:
          $ref: '#/components/schemas/AccountType'
        custodial_account_type:
          type: string
          enum:
            - UTMA
            - UGMA
          description: '"UGMA" or "UTMA" only used when account_type is "custodial"'
        minor_identity:
          $ref: '#/components/schemas/CustodialAccountMinorIdentity'
        trading_configurations:
          $ref: '#/components/schemas/AccountConfigurations'
      required:
        - id
        - account_number
        - status
        - currency
        - last_equity
        - created_at
        - account_type
    AccountUpdateRequest:
      type: object
      x-examples:
        example-1:
          contact:
            email_address: john.doe@example.com
            phone_number: '+15556667788'
            street_address:
              - 20 N San Mateo Dr
            city: San Mateo
            state: CA
            postal_code: '94401'
          identity:
            given_name: John
            family_name: Doe
            date_of_birth: '1990-01-01'
            tax_id: 666-55-4321
            tax_id_type: USA_SSN
            country_of_citizenship: AUS
            country_of_birth: AUS
            country_of_tax_residence: USA
            funding_source:
              - employment_income
          disclosures:
            is_control_person: false
            is_affiliated_exchange_or_finra: false
            is_politically_exposed: false
            immediate_family_exposed: false
          trustedContact:
            given_name: Jane
            family_name: Doe
            email_address: jane.doe@example.com
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        trustedContact:
          $ref: '#/components/schemas/TrustedContact'
    AccountDocument:
      type: object
      description: |
        If an account has documents on the application submission,
        it has the ApplicationDocument model in exchange with
        DocumentUploadRequest.
      properties:
        id:
          type: string
          format: uuid
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          type: string
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time
      required:
        - id
        - document_type
        - created_at
      example:
        id: 0d18ae51-3c94-4511-b209-101e1666416b
        document_type: identity_verification
        document_sub_type: passport
        mime_type: image/jpeg
        created_at: '2019-09-30T23:55:31.185998Z'
    CustodialAccountMinorIdentity:
      description: Represents Identity information for a minor that an account of type "custodial" is for
      type: object
      x-examples: {}
      properties:
        given_name:
          type: string
        family_name:
          type: string
        date_of_birth:
          type: string
          format: date
        tax_id:
          type: string
        tax_id_type:
          $ref: '#/components/schemas/TaxIdType'
        country_of_citizenship:
          type: string
        country_of_birth:
          type: string
        country_of_tax_residence:
          type: string
        state:
          type: string
        email:
          type: string
          format: email
      required:
        - given_name
        - family_name
        - date_of_birth
        - country_of_tax_residence
        - state
        - email
    AccountConfigurations:
      title: AccountConfigurations
      type: object
      description: Represents additional configuration settings for an account
      properties:
        dtbp_check:
          type: string
          description: 'both, entry, or exit. Controls Day Trading Margin Call (DTMC) checks.'
          example: both
          enum:
            - both
            - entry
            - exit
        trade_confirm_email:
          type: string
          description: 'all or none. If none, emails for order fills are not sent.'
          enum:
            - all
            - none
        suspend_trade:
          type: boolean
          description: 'If true, new orders are blocked.'
        no_shorting:
          type: boolean
          description: 'If true, account becomes long-only mode.'
        fractional_trading:
          type: boolean
          description: 'If true, account is able to participate in fractional trading'
        max_margin_multiplier:
          type: string
          description: Can be "1" or "2"
        pdt_check:
          type: string
          example: entry
      required:
        - dtbp_check
        - trade_confirm_email
        - suspend_trade
        - no_shorting
        - fractional_trading
        - max_margin_multiplier
        - pdt_check
    AccountCreationRequest:
      type: object
      title: AccountCreationRequest
      description: Represents the fields required to create a new account
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        agreements:
          $ref: '#/components/schemas/Agreements'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentUploadRequest'
        trusted_contact:
          $ref: '#/components/schemas/TrustedContact'
      required:
        - contact
        - identity
        - disclosures
        - agreements
    TaxIdType:
      type: string
      title: TaxIdType
      enum:
        - NOT_SPECIFIED
        - USA_SSN
        - ARG_AG_CUIT
        - AUS_TFN
        - AUS_ABN
        - BOL_NIT
        - BRA_CPF
        - CHL_RUT
        - COL_NIT
        - CRI_NITE
        - DEU_TAX_ID
        - DOM_RNC
        - ECU_RUC
        - FRA_SPI
        - GBR_UTR
        - GBR_NINO
        - GTM_NIT
        - HND_RTN
        - HUN_TIN
        - IDN_KTP
        - IND_PAN
        - ISR_TAX_ID
        - ITA_TAX_ID
        - JPN_TAX_ID
        - MEX_RFC
        - NIC_RUC
        - NLD_TIN
        - PAN_RUC
        - PER_RUC
        - PRY_RUC
        - SGP_NRIC
        - SGP_FIN
        - SGP_ASGD
        - SGP_ITR
        - SLV_NIT
        - SWE_TAX_ID
        - URY_RUT
        - VEN_RIF
      description: |-
        An Enum of the various kinds of Tax ID formats Alpaca supports.

        Possible Values are:


        - **USA_SSN**
        USA Social Security Number

        - **ARG_AR_CUIT**
        Argentina CUIT

        - **AUS_TFN**
        Australian Tax File Number

        - **AUS_ABN**
        Australian Business Number

        - **BOL_NIT**
        Bolivia NIT

        - **BRA_CPF**
        Brazil CPF

        - **CHL_RUT**
        Chile RUT

        - **COL_NIT**
        Colombia NIT

        - **CRI_NITE**
        Costa Rica NITE

        - **DEU_TAX_ID**
        Germany Tax ID (Identifikationsnummer)

        - **DOM_RNC**
        Dominican Republic RNC

        - **ECU_RUC**
        Ecuador RUC

        - **FRA_SPI**
        France SPI (Reference Tax Number)

        - **GBR_UTR**
        UK UTR (Unique Taxpayer Reference)

        - **GBR_NINO**
        UK NINO (National Insurance Number)

        - **GTM_NIT**
        Guatemala NIT

        - **HND_RTN**
        Honduras RTN

        - **HUN_TIN**
        Hungary TIN Number

        - **IDN_KTP**
        Indonesia KTP

        - **IND_PAN**
        India PAN Number

        - **ISR_TAX_ID**
        Israel Tax ID (Teudat Zehut)

        - **ITA_TAX_ID**
        Italy Tax ID (Codice Fiscale)

        - **JPN_TAX_ID**
        Japan Tax ID (Koijin Bango)

        - **MEX_RFC**
        Mexico RFC

        - **NIC_RUC**
        Nicaragua RUC

        - **NLD_TIN**
        Netherlands TIN Number

        - **PAN_RUC**
        Panama RUC

        - **PER_RUC**
        Peru RUC

        - **PRY_RUC**
        Paraguay RUC

        - **SGP_NRIC**
        Singapore NRIC

        - **SGP_FIN**
        Singapore FIN

        - **SGP_ASGD**
        Singapore ASGD

        - **SGP_ITR**
        Singapore ITR

        - **SLV_NIT**
        El Salvador NIT

        - **SWE_TAX_ID**
        Sweden Tax ID (Personnummer)

        - **URY_RUT**
        Uruguay RUT

        - **VEN_RIF**
        Venezuela RIF

        - **NOT_SPECIFIED**
        Other Tax IDs
      example: USA_SSN
    ApplicationDocument:
      type: object
      description: |
        If an account has documents on the application submission,
        it has the ApplicationDocument model in exchange with
        DocumentUpload.
      properties:
        id:
          type: string
          format: uuid
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          type: string
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time
      required:
        - id
        - document_type
        - created_at
      example:
        id: 0d18ae51-3c94-4511-b209-101e1666416b
        document_type: identity_verification
        document_sub_type: passport
        mime_type: image/jpeg
        created_at: '2019-09-30T23:55:31.185998Z'
    DocumentUpload:
      type: object
      description: |
        If an account has documents after the submission, it has
        the Document model in exchange with DocumentUpload.
      properties:
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          type: string
          example: passport
        content:
          type: string
          format: base64
          example: /9j/Cg==
        mime_type:
          type: string
          example: image/jpeg
      required:
        - document_type
        - content
        - mime_type
      example:
        document_type: identity_verification
        document_sub_type: passport
        content: /9j/Cg==
        mime_type: image/jpeg
    Activity:
      title: Activity
      description: Base for activity types
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
              example: 88b5f678-fef5-447b-af15-f21e367e6d8c
            account_id:
              type: string
              format: uuid
              example: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
            activity_type:
              $ref: '#/components/schemas/ActivityType'
        - oneOf:
            - $ref: '#/components/schemas/TradeActivity'
            - $ref: '#/components/schemas/NonTradeActivity'
    ActivityType:
      title: ActivityType
      type: string
      enum:
        - FILL
        - ACATC
        - ACATS
        - CSD
        - CSR
        - CSW
        - DIV
        - DIVCGL
        - DIVCGS
        - DIVNRA
        - DIVROC
        - DIVTXEX
        - INT
        - JNLC
        - JNLS
        - MA
        - NC
        - PTC
        - REORG
        - SSO
        - SSP
    TradeActivity:
      title: TradeActivity
      type: object
      properties:
        transaction_time:
          type: string
          format: timestamp
          example: '2021-05-10T14:01:04.650275Z'
          description: Valid only for trading activity types. Null for non-trading activites.
        type:
          type: string
          enum:
            - fill
            - partial_fill
          example: fill
          description: Valid only for trading activity types. Null for non-trading activites.
        price:
          type: string
          example: '3.1415'
          description: Valid only for trading activity types. Null for non-trading activites.
        qty:
          type: string
          example: '0.38921'
          description: Valid only for trading activity types. Null for non-trading activites.
        side:
          type: string
          enum:
            - buy
            - sell
          example: sell
          description: Valid only for trading activity types. Null for non-trading activites.
        symbol:
          type: string
          example: AAPL
          description: Valid only for trading activity types. Null for non-trading activites.
        leaves_qty:
          type: string
          example: '0.5123'
          description: Valid only for trading activity types. Null for non-trading activites.
        order_id:
          type: string
          format: uuid
          example: fe060a1b-5b45-4eba-ba46-c3a3345d8255
          description: Valid only for trading activity types. Null for non-trading activites.
        cum_qty:
          type: string
          example: '0.9723'
          description: Valid only for trading activity types. Null for non-trading activites.
        order_status:
          type: string
          enum:
            - new
            - partially_filled
            - filled
            - done_for_day
            - canceled
            - expired
            - replaced
            - pending_cancel
            - pending_replace
            - accepted
            - pending_new
            - accepted_for_bidding
            - stopped
            - rejected
            - suspended
            - calculated
          example: filled
          description: Valid only for trading activity types. Null for non-trading activites.
    NonTradeActivity:
      title: NonTradeActivity
      type: object
      properties:
        date:
          type: string
          format: date
          example: '2021-05-21'
          description: Valid only for non-trading activity types. Null for trading activites.
        net_amount:
          type: string
          example: '1234'
          description: Valid only for non-trading activity types. Null for trading activites.
        description:
          type: string
          example: Example description
          description: Valid only for non-trading activity types. Null for trading activites.
        status:
          type: string
          enum:
            - executed
            - correct
            - canceled
          example: executed
          description: Valid only for non-trading activity types. Null for trading activites.
        symbol:
          type: string
          example: AAPL
          description: Valid only for non-trading activity types. Null for trading activites.
        qty:
          type: string
          example: '0.38921'
          description: Valid only for non-trading activity types. Null for trading activites.
        per_share_amount:
          type: string
          example: '0.38921'
          description: Valid only for non-trading activity types. Null for trading activites.
    ActivityItem:
      title: ActivityItem
      anyOf:
        - $ref: '#/components/schemas/TradeActivity'
        - $ref: '#/components/schemas/NonTradeActivity'
    DocumentType:
      type: string
      enum:
        - identity_verification
        - address_verification
        - date_of_birth_verification
        - tax_id_verification
        - account_approval_letter
        - cip_result
      description: |
        - identity_verification:
          identity verification document

        - address_verification:
          address verification document

        - date_of_birth_verification:
          date of birth verification document

        - tax_id_verification:
          tax ID verification document

        - account_approval_letter:
          407 approval letter

        - cip_result:
          initial CIP result
      example: identity_verification
    DocumentUploadRequest:
      type: object
      description: |
        If an account has documents after the submission, it has
        the Document model in exchange with DocumentUploadRequest.
      properties:
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          type: string
          example: passport
        content:
          type: string
          format: base64
          example: /9j/Cg==
        mime_type:
          type: string
          example: image/jpeg
      required:
        - document_type
        - content
        - mime_type
      example:
        document_type: identity_verification
        document_sub_type: passport
        content: /9j/Cg==
        mime_type: image/jpeg
      title: DocumentUploadRequest
      x-examples:
        example-1:
          document_type: identity_verification
          document_sub_type: passport
          content: /9j/Cg==
          mime_type: image/jpeg
    KYCResult:
      type: object
      description: 'Hold information about the result of KYC. Please see the documentation [here](https://alpaca.markets/docs/api-references/broker-api/events/#kyc-results) for more indepth details'
      properties:
        reject:
          type: object
        accept:
          type: object
        indeterminate:
          type: object
        addidional_information:
          type: string
    StreetAddress:
      type: string
      example: 20 N San Mateo Dr
    Contact:
      type: object
      description: |
        Contact is the model for the account owner contact information.
      properties:
        email_address:
          type: string
          format: email
          example: john.doe@example.com
        phone_number:
          type: string
          description: 'with country code, no hyphen or space'
          example: '+15556667788'
        street_address:
          type: array
          items:
            $ref: '#/components/schemas/StreetAddress'
        city:
          type: string
          example: San Mateo
        state:
          type: string
          example: CA
        postal_code:
          type: string
          example: '94401'
    Identity:
      type: object
      description: |
        Identity is the model to provide account owner’s identity information.
      example:
        given_name: John
        family_name: Doe
        date_of_birth: '1990-01-01'
        tax_id: 666-55-4321
        tax_id_type: USA_SSN
        country_of_citizenship: AUS
        country_of_birth: AUS
        country_of_tax_residence: USA
        funding_source:
          - employment_income
      properties:
        given_name:
          type: string
          example: John
        family_name:
          type: string
          example: Doe
        date_of_birth:
          type: string
          format: date
          example: '1990-01-01'
        tax_id:
          type: string
          example: 666-55-4321
        tax_id_type:
          $ref: '#/components/schemas/TaxIdType'
        country_of_citizenship:
          type: string
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
        country_of_birth:
          type: string
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
        country_of_tax_residence:
          type: string
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
        funding_source:
          type: array
          items:
            type: string
            enum:
              - employment_income
              - investments
              - inheritance
              - business_income
              - savings
              - family
        annual_income_min:
          type: number
        annual_income_max:
          type: number
        liquid_net_worth_min:
          type: number
        liquid_net_worth_max:
          type: number
        total_net_worth_min:
          type: number
        total_net_worth_max:
          type: number
        extra:
          type: object
          description: |
            any extra information used for KYC purposes
      required:
        - given_name
        - family_name
        - date_of_birth
        - country_of_tax_residence
        - funding_source
    Disclosures:
      type: object
      description: |
        Disclosures fields denote if the account owner falls under
        each category defined by FINRA rule. The client has to ask
        questions for the end user and the values should reflect
        their answers.
        If one of the answers is true (yes), the account goes into
        ACTION_REQUIRED status.
      properties:
        employment_status:
          type: string
          enum:
            - unemployed
            - employed
            - student
            - retired
        employer_name:
          type: string
        employer_address:
          type: string
        employment_position:
          type: string
        is_control_person:
          type: boolean
        is_affiliated_exchange_or_finra:
          type: boolean
        is_politically_exposed:
          type: boolean
        immediate_family_exposed:
          type: boolean
      required:
        - is_control_person
        - is_affiliated_exchange_or_finra
        - is_politically_exposed
        - immediate_family_exposed
      example:
        is_control_person: false
        is_affiliated_exchange_or_finra: false
        is_politically_exposed: false
        immediate_family_exposed: false
    Agreement:
      type: object
      properties:
        agreement:
          type: string
          enum:
            - margin_agreement
            - account_agreement
            - customer_agreement
          description: |
            - margin_agreement: Alpaca Margin Agreement
            - account_agreement: Alpaca Account Agreement
            - customer_agreement: Alpaca Customer Agreement
        signed_at:
          type: string
          example: '2019-09-11T18:09:33Z'
        ip_address:
          type: string
          format: ipv4
          example: 185.13.21.99
      required:
        - agreement
        - signed_at
        - ip_address
    Agreements:
      type: array
      description: 'The client has to present Alpaca Account Agreement and Margin Agreement to the end user, and have them read full sentences.'
      items:
        $ref: '#/components/schemas/Agreement'
    TrustedContact:
      type: object
      description: |
        This model input is optional. However, the client should
        make reasonable effort to obtain the trusted contact information.
        See more details in [FINRA Notice 17-11](https://www.finra.org/sites/default/files/Regulatory-Notice-17-11.pdf)
      properties:
        given_name:
          type: string
          example: Jane
        family_name:
          type: string
          example: Doe
        email_address:
          type: string
          format: email
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
          example: jane.doe@example.com
        phone_number:
          type: string
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
        street_address:
          type: array
          items:
            type: string
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
        city:
          type: string
          description: |
            required if `street_address` is set
        state:
          type: string
          description: |
            required if `street_address` is set
        postal_code:
          type: string
          description: |
            required if `street_address` is set
        country:
          type: string
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
            required if `street_address` is set
      required:
        - given_name
        - family_name
      example:
        given_name: Jane
        family_name: Doe
        email_address: jane.doe@example.com
    CreateOrderRequest:
      type: object
      description: ''
      properties:
        symbol:
          type: string
          example: AAPL
          description: Symbol or asset ID to identify the asset to trade
        qty:
          type: string
          format: decimal
          example: '4.124'
          description: Number of shares to trade. Can be fractionable for only market and day order types.
        notional:
          type: string
          format: decimal
          example: '3'
          description: Dollar amount to trade. Cannot work with qty. Can only work for market order types and time_in_force = day.
        side:
          $ref: '#/components/schemas/OrderSide'
        type:
          $ref: '#/components/schemas/OrderType'
        time_in_force:
          $ref: '#/components/schemas/TimeInForce'
        limit_price:
          type: string
          format: decimal
          example: '3.14'
          description: Required if type is limit or stop_limit
        stop_price:
          type: string
          format: decimal
          example: '3.14'
          description: Required if type is stop or stop_limit
        trail_price:
          type: string
          format: decimal
          example: '3.14'
          description: 'If type is trailing_stop, then one of trail_price or trail_percent is required'
        trail_percent:
          type: string
          format: decimal
          example: '5.0'
          description: 'If type is trailing_stop, then one of trail_price or trail_percent is required'
        extended_hours:
          type: boolean
          example: false
          description: 'Defaults to false. If true, order will be eligible to execute in premarket/afterhours. Only works with type limit and time_in_force = day.'
        client_order_id:
          type: string
          example: eb9e2aaa-f71a-4f51-b5b4-52a6c565dad4
          description: A unique identifier for the order. Automatically generated if not sent. (<= 48 characters)
          maxLength: 48
        order_class:
          $ref: '#/components/schemas/OrderClass'
        take_profit:
          type: object
          description: Takes in a string/number value for limit_price
          properties:
            limit_price:
              type: string
              format: decimal
              example: '3.14'
        stop_loss:
          type: object
          properties:
            stop_price:
              type: string
              format: decimal
              example: '3.14'
              description: Takes in a string/number values for stop_price and limit_price
            limit_price:
              type: string
              format: decimal
              example: '3.14'
        commission:
          type: string
          format: decimal
          example: '1.0'
          description: The commission you want to collect from the user.
      required:
        - symbol
        - side
        - type
        - time_in_force
    AssetClass:
      type: string
      enum:
        - us_equity
        - crypto
    OrderType:
      type: string
      enum:
        - market
        - limit
        - stop
        - stop_limit
        - trailing_stop
      example: stop
    OrderSide:
      type: string
      enum:
        - buy
        - sell
      example: buy
      description: buy or sell
    OrderClass:
      type: string
      enum:
        - simple
        - bracket
        - oco
        - oto
      example: bracket
    TimeInForce:
      type: string
      enum:
        - day
        - gtc
        - opg
        - cls
        - ioc
        - fok
      example: gtc
    OrderStatus:
      type: string
      enum:
        - new
        - partially_filled
        - filled
        - done_for_day
        - canceled
        - expired
        - replaced
        - pending_cancel
        - pending_replace
        - accepted
        - pending_new
        - accepted_for_bidding
        - stopped
        - rejected
        - suspended
        - calculated
      example: filled
    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        client_order_id:
          type: string
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        created_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        submitted_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        filled_at:
          nullable: true
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        expired_at:
          nullable: true
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        canceled_at:
          nullable: true
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        failed_at:
          nullable: true
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        replaced_at:
          nullable: true
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
        replaced_by:
          nullable: true
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        replaces:
          nullable: true
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        asset_id:
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        symbol:
          type: string
          example: AALP
        asset_class:
          $ref: '#/components/schemas/AssetClass'
        notional:
          nullable: true
          type: string
          format: decimal
          example: '4.2'
        qty:
          nullable: true
          type: string
          format: decimal
          example: '4.2'
        filled_qty:
          type: string
          format: decimal
          example: '4.2'
        filled_avg_price:
          nullable: true
          type: string
          format: decimal
          example: '4.2'
        order_class:
          $ref: '#/components/schemas/OrderClass'
        order_type:
          $ref: '#/components/schemas/OrderType'
        type:
          $ref: '#/components/schemas/OrderType'
        side:
          $ref: '#/components/schemas/OrderSide'
        time_in_force:
          $ref: '#/components/schemas/TimeInForce'
        limit_price:
          nullable: true
          type: string
          format: decimal
          example: '3.14'
        stop_price:
          nullable: true
          type: string
          format: decimal
          example: '3.14'
        status:
          $ref: '#/components/schemas/OrderStatus'
        extended_hours:
          type: boolean
          example: true
        legs:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/Order'
        trail_price:
          nullable: true
          type: string
          format: decimal
          example: '3.14'
        trail_percent:
          nullable: true
          type: string
          format: decimal
          example: '5.0'
        hwm:
          nullable: true
          type: string
          format: decimal
          example: '3.14'
        commission:
          type: string
          format: decimal
          example: '3.14'
      required:
        - id
        - symbol
    UpdateOrderRequest:
      type: object
      title: OrderUpdateRequest
      description: |-
        Represents the fields that are editable in an order replace/update call.

        Note: client_order_id is currently not editable on its own, one of the other fields must be changed at the same time to effectively replace the order
      properties:
        qty:
          type: string
          format: decimal
          example: '4.2'
          description: You can only patch full shares for now
        time_in_force:
          $ref: '#/components/schemas/TimeInForce'
        limit_price:
          type: string
          format: decimal
          example: '3.14'
          description: Required if original order's `type` field was limit or stop_limit
        stop_price:
          type: string
          format: decimal
          example: '3.14'
          description: Required if original order's `type` field was stop or stop_limit
        trail:
          type: string
          format: decimal
          example: '3.14'
          description: The new value of the trail_price or trail_percent
        client_order_id:
          type: string
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
    Bank:
      type: object
      x-examples:
        example-1:
          id: 8475c676-68e3-4cfc-a683-9ca2f47a6172
          account_id: 56712986-9ff7-4d8f-8e52-077e099e533e
          name: Bank XYZ
          status: QUEUED
          country: ''
          state_province: ''
          postal_code: ''
          city: ''
          street_address: ''
          account_number: 123456789abc
          bank_code: '123456789'
          bank_code_type: ABA
          created_at: '2022-02-11T21:35:19.268681613Z'
          updated_at: '2022-02-11T21:35:19.268681613Z'
      properties:
        id:
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        created_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
        account_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - QUEUED
            - CANCEL_REQUESTED
            - SENT_TO_CLEARING
            - APPROVED
            - CANCELED
          description: 'QUEUED, CANCEL_REQUESTED, SENT_TO_CLEARING, APPROVED, CANCELED'
        name:
          type: string
          description: Name of recipient bank
        bank_code:
          type: string
          description: 9-Digit ABA RTN (Routing Number) or BIC
        bank_code_type:
          type: string
          enum:
            - ABA
            - BIC
          description: ABA (Domestic) or BIC (International)
        country:
          type: string
          description: Only for international banks
        state_province:
          type: string
          description: Only for international banks
        postal_code:
          type: string
          description: Only for international banks
        city:
          type: string
          description: Only for international banks
        street_address:
          type: string
          description: Only for international banks
        account_number:
          type: string
      required:
        - id
        - created_at
        - updated_at
        - name
        - bank_code
        - bank_code_type
        - account_number
    CreateBankRequest:
      title: CreateBankRequest
      type: object
      properties:
        name:
          type: string
          description: Name of recipient bank
        bank_code:
          type: string
          description: 9-Digit ABA RTN (Routing Number) or BIC
        bank_code_type:
          type: string
          enum:
            - ABA
            - BIC
          description: ABA (Domestic) or BIC (International)
        country:
          type: string
          description: Only for international banks
        state_province:
          type: string
          description: Only for international banks
        postal_code:
          type: string
          description: Only for international banks
        city:
          type: string
          description: Only for international banks
        street_address:
          type: string
          description: Only for international banks
        account_number:
          type: string
      required:
        - name
        - bank_code
        - bank_code_type
        - account_number
      description: Represents the possible fields to send when creating a new associated Bank resource for an account
    IdentifiedResource:
      title: IdentifiedResource
      type: object
      x-examples:
        example-1:
          id: 61e69015-8549-4bfd-b9c3-01e75843f47d
          created_at: '2021-03-16T18:38:01.942282Z'
          updated_at: '2021-03-16T18:38:01.942282Z'
      properties:
        id:
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        created_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
      required:
        - id
        - created_at
        - updated_at
      description: 'TODO: Remove this model'
      x-internal: true
    ACHRelationship:
      title: ACHRelationship
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
        created_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-03-16T18:38:01.942282Z'
          description: 'Format: 2020-01-01T01:01:01Z'
        account_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - QUEUED
            - APPROVED
            - PENDING
            - CANCEL_REQUESTED
        account_owner_name:
          type: string
          minLength: 1
          description: Name of the account owner
        bank_account_type:
          type: string
          minLength: 1
          enum:
            - CHECKING
            - SAVINGS
          description: Must be CHECKING or SAVINGS
        bank_account_number:
          type: string
          minLength: 1
        bank_routing_number:
          type: string
          minLength: 1
        nickname:
          type: string
          minLength: 1
      required:
        - id
        - created_at
        - updated_at
        - account_id
        - status
        - account_owner_name
    CreateACHRelationshipRequest:
      description: |-
        Represents the fields used in creation of a new ACHRelationship.

        You can create an ACHRelationship by passing the required fields here or if you have an account with Plaid you can use our integration with Plaid to create a relationship.

        Please see the documentation [here](https://alpaca.markets/docs/api-references/broker-api/funding/ach/#plaid-integration-for-bank-transfers) for more info on using Plaid with Alpaca
      type: object
      title: CreateACHRelationshipRequest
      properties:
        account_owner_name:
          type: string
          minLength: 1
        bank_account_type:
          type: string
          minLength: 1
          enum:
            - CHECKING
            - SAVINGS
          description: Must be CHECKING or SAVINGS
        bank_account_number:
          type: string
          minLength: 1
          description: 'In sandbox, this still must be a valid format'
        bank_routing_number:
          type: string
          minLength: 1
          description: 'In sandbox, this still must be a valid format'
        nickname:
          type: string
          minLength: 1
        processor_token:
          type: string
          description: 'If using Plaid, you can specify a Plaid processor token here '
      required:
        - account_owner_name
        - bank_account_type
        - bank_account_number
        - bank_routing_number
    UntypedACHTransferData:
      title: UntypedACHTransferData
      allOf:
        - $ref: '#/components/schemas/UntypedTransferData'
        - type: object
          properties:
            relationship_id:
              type: string
              format: uuid
          required:
            - relationship_id
    TransferResource:
      title: TransferResource
      allOf:
        - $ref: '#/components/schemas/IdentifiedResource'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ach
                - wire
            status:
              type: string
              enum:
                - QUEUED
                - APPROVAL_PENDING
                - PENDING
                - SENT_TO_CLEARING
                - REJECTED
                - CANCELED
                - APPROVED
                - COMPLETE
                - RETURNED
            account_id:
              type: string
              format: uuid
            reason:
              type: string
              nullable: true
            expires_at:
              type: string
              format: date-time
          required:
            - type
            - status
            - account_id
            - expires_at
        - oneOf:
            - $ref: '#/components/schemas/UntypedACHTransferData'
            - $ref: '#/components/schemas/UntypedWireTransferData'
          discriminator:
            propertyName: type
            mapping:
              ach: '#/components/schemas/UntypedACHTransferData'
              wire: '#/components/schemas/UntypedWireTransferData'
    TransferData:
      title: TransferData
      allOf:
        - type: object
          properties:
            transfer_type:
              type: string
              enum:
                - ach
                - wire
            timing:
              type: string
              enum:
                - immediate
          required:
            - transfer_type
        - oneOf:
            - $ref: '#/components/schemas/UntypedACHTransferData'
            - $ref: '#/components/schemas/UntypedWireTransferData'
          discriminator:
            propertyName: transfer_type
            mapping:
              ach: '#/components/schemas/UntypedACHTransferData'
              wire: '#/components/schemas/UntypedWireTransferData'
    UntypedWireTransferData:
      allOf:
        - $ref: '#/components/schemas/UntypedTransferData'
        - type: object
          properties:
            additional_information:
              type: string
            bank_id:
              type: string
              format: uuid
          required:
            - bank_id
      title: UntypedWireTransferData
    UntypedTransferData:
      title: UntypedTransferData
      type: object
      properties:
        amount:
          type: string
          format: decimal
        direction:
          type: string
          enum:
            - INCOMING
            - OUTGOING
      required:
        - amount
        - direction
    CreateTransferRequest:
      title: CreateTransferRequest
      type: object
      properties:
        transfer_type:
          $ref: '#/components/schemas/TransferType'
        relationship_id:
          type: string
          format: uuid
          description: |-
            Required if type = `ach`

            The ach_relationship created for the account_id [here](https://alpaca.markets/docs/api-references/broker-api/funding/ach/#creating-an-ach-relationship)
        bank_id:
          type: string
          format: uuid
          description: |-
            Required if type = `wire`

            The bank_relationship created for the account_id [here](https://alpaca.markets/docs/api-references/broker-api/funding/bank/#creating-a-new-bank-relationship)
        amount:
          type: string
          format: decimal
          description: Must be > 0.00
        direction:
          $ref: '#/components/schemas/TransferDirection'
        timing:
          $ref: '#/components/schemas/TransferTiming'
        additional_information:
          type: string
          description: Additional details for when type = `wire`
          nullable: true
      required:
        - transfer_type
        - amount
        - direction
        - timing
      description: '[See main docs here](https://alpaca.markets/docs/api-references/broker-api/funding/transfers/#creating-a-transfer-entity)'
    Transfer:
      title: Transfer
      type: object
      x-examples:
        example-1:
          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          relationship_id: 81412018-ffa2-43f9-a3eb-d39f1c5e0f87
          bank_id: f1ae96de-94c1-468e-93a3-6b7213930ca8
          account_id: 449e7a5c-69d3-4b8a-aaaf-5c9b713ebc65
          type: ach
          status: QUEUED
          reason: string
          amount: string
          direction: INCOMING
          created_at: '2019-08-24T14:15:22Z'
          updated_at: '2019-08-24T14:15:22Z'
          expires_at: '2019-08-24T14:15:22Z'
          additional_information: string
      description: |-
        Transfers allow you to transfer money/balance into your end customers' account (deposits) or out (withdrawal).

        [Main docs here](https://alpaca.markets/docs/api-references/broker-api/funding/transfers/#the-transfer-object)
      properties:
        id:
          type: string
          format: uuid
          description: The transfer ID
        relationship_id:
          type: string
          format: uuid
          description: The ACH relationship ID only present if type = "ach"
        bank_id:
          type: string
          format: uuid
          description: 'The ID of the Bank, only present if type = "wire"'
        account_id:
          type: string
          format: uuid
          description: The account ID
        type:
          $ref: '#/components/schemas/TransferType'
        status:
          $ref: '#/components/schemas/TransferStatus'
        reason:
          type: string
          description: Cause of the status
          nullable: true
        amount:
          type: string
          description: Must be > 0.00
        direction:
          $ref: '#/components/schemas/TransferDirection'
        created_at:
          type: string
          format: date-time
          description: Timedate when transfer was created
        updated_at:
          type: string
          format: date-time
          description: Timedate when transfer was updated
        expires_at:
          type: string
          format: date-time
          description: Timedate when transfer was expired
        additional_information:
          type: string
          description: Additional information. Only applies when type = "wire".
          nullable: true
        hold_until:
          type: string
          format: date-time
        instant_amount:
          type: string
      required:
        - id
        - account_id
        - type
        - status
        - amount
        - direction
        - created_at
    TransferType:
      type: string
      example: ach
      enum:
        - ach
        - wire
      description: |
        **NOTE:** The Sandbox environment currently only supports `ach`

        - **ach**
        Transfer via ACH (US Only).
        - **wire**
        Transfer via wire (international).
      title: TransferType
    TransferDirection:
      type: string
      example: INCOMING
      enum:
        - INCOMING
        - OUTGOING
      description: |
        - **INCOMING**
        Funds incoming to user’s account (deposit).
        - **OUTGOING**
        Funds outgoing from user’s account (withdrawal).
    TransferTiming:
      type: string
      example: immediate
      enum:
        - immediate
      description: |-
        Only `immediate` is currently supported.

        values:

        - **immediate**

        - **next_day**
    TransferStatus:
      type: string
      example: QUEUED
      enum:
        - QUEUED
        - APPROVAL_PENDING
        - PENDING
        - SENT_TO_CLEARING
        - REJECTED
        - CANCELED
        - APPROVED
        - COMPLETE
        - RETURNED
      description: |
        - **QUEUED**
        Transfer is in queue to be processed.
        - **APPROVAL_PENDING**
        Transfer is pending approval.
        - **PENDING**
        Transfer is pending processing.
        - **SENT_TO_CLEARING**
        Transfer is being processed by the clearing firm.
        - **REJECTED**
        Transfer is rejected.
        - **CANCELED**
        Client initiated transfer cancellation.
        - **APPROVED**
        Transfer is approved.
        - **COMPLETE**
        Transfer is completed.
        - **RETURNED**
        The bank issued an ACH return for the transfer.
    Journal:
      title: Journal
      example:
        id: h7h5g33f-ef01-4458-9a4b-9598727a406f
        entry_type: JNLS
        from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
        to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
        status: executed
        symbol: AAPL
        qty: '2'
        price: '128.23'
      x-examples:
        example:
          id: h7h5g33f-ef01-4458-9a4b-9598727a406f
          entry_type: JNLS
          from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
          to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
          status: executed
          symbol: AAPL
          qty: '2'
          settle_date: '2020-12-24'
          price: '128.23'
        example-pending:
          id: 6d2cba43-cb57-4534-9603-a6e159167c0a
          entry_type: JNLC
          from_account: 3dcb795c-3ccc-402a-abb9-07e26a1b1326
          to_account: 2a87c088-ffb6-472b-a4a3-cd9305c8605c
          symbol: null
          qty: null
          price: '0'
          status: pending
          settle_date: '2022-02-17'
          system_date: '2022-02-17'
          net_amount: '645'
          description: ''
        example-queued:
          id: 6d2cba43-cb57-4534-9603-a6e159167c0a
          entry_type: JNLC
          from_account: 3dcb795c-3ccc-402a-abb9-07e26a1b1326
          to_account: 2a87c088-ffb6-472b-a4a3-cd9305c8605c
          symbol: ''
          qty: null
          price: '0'
          status: queued
          settle_date: null
          system_date: null
          net_amount: '645'
          description: ''
      description: 'Represents a cash or security transfer between accounts, as specified by the `entry_type` parameter.'
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
              description: journal ID
            entry_type:
              $ref: '#/components/schemas/JournalEntryType'
            from_account:
              type: string
              format: uuid
              description: account ID the shares go from
            to_account:
              type: string
              format: uuid
              description: account ID the shares go to
            settle_date:
              type: string
              format: date
            status:
              type: string
              enum:
                - pending
                - canceled
                - executed
                - queued
                - rejected
                - deleted
          required:
            - id
            - entry_type
            - from_account
            - to_account
            - settle_date
        - oneOf:
            - $ref: '#/components/schemas/JNLS'
            - $ref: '#/components/schemas/JNLC'
    JournalEntryType:
      type: string
      title: ''
      description: |-
        This enum represents the various kinds of Journal alpaca supports.

        Current values are:

        - **JNLC**

          Journal Cash between accounts

        - **JNLS**

          Journal Securities between accounts
      enum:
        - JNLC
        - JNLS
    JNLS:
      example:
        id: h7h5g33f-ef01-4458-9a4b-9598727a406s
        entry_type: JNLS
        from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
        to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
        status: executed
        symbol: AAPL
        qty: '2'
        price: '128.23'
      x-examples:
        example-1:
          id: h7h5g33f-ef01-4458-9a4b-9598727a406f
          entry_type: JNLS
          from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
          to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
          status: executed
          symbol: AAPL
          qty: '2'
          price: '128.23'
      title: JNLS
      type: object
      description: 'Journal information specific to securities transfers. This field is required for `Journal`s with an `entry_type` of `jnls` (securities transfers), but will be null for those with `jnlc` (cash transfers).'
      properties:
        symbol:
          type: string
          description: Only valid for JNLS journals. Null for JNLC.
        qty:
          type: string
          format: decimal
          description: Only valid for JNLS journals. Null for JNLC.
        price:
          type: string
          format: decimal
          description: Only valid for JNLS journals. Null for JNLC.
      required:
        - symbol
        - qty
        - price
    JNLC:
      example:
        id: f45g67h8-d1fc-4136-aa4f-cf4460aecdfc
        entry_type: JNLC
        from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
        to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
        status: pending
        net_amount: '115.5'
      description: 'Journal information specific to cash transfers. This field is required for `Journal`s with an `entry_type` of `jnlc` (cash transfers), but will be null for those with `jnls` (securities transfers).'
      type: object
      title: JNLC
      properties:
        description:
          type: string
          description: ID the amount goes to. Only valid for JNLC journals. Null for JNLS.
        net_amount:
          type: string
          format: decimal
          description: Only valid for JNLC journals. Null for JNLS.
        transmitter_name:
          type: string
          description: Only valid for JNLC journals. Null for JNLS. Max 255 characters.
        transmitter_account_number:
          type: string
          description: Only valid for JNLC journals. Null for JNLS.max 255 characters
        transmitter_address:
          type: string
          description: Only valid for JNLC journals. Null for JNLS.max 255 characters
        transmitter_financial_institution:
          type: string
          description: Only valid for JNLC journals. Null for JNLS.max 255 characters
        transmitter_timestamp:
          type: string
          format: date-time
          description: Only valid for JNLC journals. Null for JNLS.
      required:
        - net_amount
      x-examples: {}
    JournalData:
      title: JournalData
      type: object
      properties:
        entry_type:
          $ref: '#/components/schemas/JournalEntryType'
        from_account:
          type: string
          format: uuid
        to_account:
          type: string
          format: uuid
        amount:
          type: string
          format: decimal
          description: |
            Required for JNLC.
            The dollar amount to move. It has to be
            a positive value.
        symbol:
          type: string
          description: |
            Required for JNLS.
        qty:
          type: string
          format: decimal
          description: |
            Required for JNLS.
            The number of shares to move. It has to be
            a positive value.
      required:
        - entry_type
        - from_account
        - to_account
    JournalResource:
      title: JournalResource
      oneOf:
        - $ref: '#/components/schemas/JNLC'
        - $ref: '#/components/schemas/JNLS'
      discriminator:
        propertyName: entry_type
        mapping:
          JNLC: '#/components/schemas/JNLC'
          JNLS: '#/components/schemas/JNLS'
    CreateJournalRequest:
      description: |-
        Journals API allows you to move cash or securities from one account to another.

        This model represents the fields you can specify when creating a Journal

        Fixture Rules

        - No Fixtures
          - anything below limit is executed immediately
          - anything above limit is pending until executed at EOD,
        - With Fixtures
          - any status = rejected will be rejected EOD
          - any status = pending will be pending forever
      type: object
      x-examples:
        example-1:
          from_account: c94bu7rn-4483-4199-840f-6c5fe0b7ca24
          entry_type: JNLC
          to_account: fn68sbrk-6f2a-433c-8c33-17b66b8941fa
          amount: '51'
          description: test text /fixtures/status=rejected/fixtures/
      properties:
        to_account:
          type: string
          minLength: 1
          format: uuid
          description: The account_id you wish to journal to
        from_account:
          type: string
          minLength: 1
          format: uuid
          description: The account_id you wish to journal from
        entry_type:
          $ref: '#/components/schemas/JournalEntryType'
        amount:
          type: string
          description: Required if `entry_type` = `JNLC`
        symbol:
          type: string
          description: Required if `entry_type` = `JNLS`
        qty:
          type: string
          description: Required if `entry_type` = `JNLS`
        description:
          type: string
          description: Max 1024 characters. Can include fixtures for amounts that are above the transaction limit
          maxLength: 1024
        transmitter_name:
          type: string
          maxLength: 255
          description: 'Max 255 characters. See more details about [Travel Rule](https://alpaca.markets/docs/broker/integration/funding/#travel-rule) in our main documentation.'
        transmitter_account_number:
          type: string
          maxLength: 255
          description: 'Max 255 characters. See more details about [Travel Rule](https://alpaca.markets/docs/broker/integration/funding/#travel-rule) in our main documentation.'
        transmitter_address:
          type: string
          maxLength: 255
          description: 'Max 255 characters. See more details about [Travel Rule](https://alpaca.markets/docs/broker/integration/funding/#travel-rule) in our main documentation.'
        transmitter_financial_institution:
          type: string
          maxLength: 255
          description: 'Max 255 characters. See more details about [Travel Rule](https://alpaca.markets/docs/broker/integration/funding/#travel-rule) in our main documentation.'
        transmitter_timestamp:
          type: string
          description: 'RFC 3339 format. See more details about [Travel Rule](https://alpaca.markets/docs/broker/integration/funding/#travel-rule) in our main documentation.'
          format: date-time
      required:
        - to_account
        - from_account
        - entry_type
    BatchJournalRequest:
      title: BatchJournalRequest
      type: object
      description: |-
        Journals API allows you to move cash or securities from one account to another.

        This model represents the fields you can specify when creating a request of many Journals out of one account to many others at once.
      properties:
        entry_type:
          type: string
          enum:
            - JNLC
          description: Only supports `JNLC` for now
        from_account:
          type: string
          format: uuid
          description: The account id that is the originator of the funds being moved. Most likely is your Sweep Firm Account
        description:
          type: string
          description: 'Journal description, gets returned in the response'
        entries:
          type: array
          minItems: 1
          description: An array of objects describing to what accounts you want to move funds into and how much to move into for each account
          items:
            type: object
            properties:
              to_account:
                type: string
                format: uuid
                description: The ID of the account that you want to journal funds into
              amount:
                type: string
                description: Journal amount in USD
            required:
              - to_account
              - amount
      required:
        - entry_type
        - from_account
        - entries
    BatchJournalResponse:
      title: BatchJournalResponse
      description: A Journal object with an extra attribute error_message in the case when a specific account fails to receive a journal.
      allOf:
        - $ref: '#/components/schemas/Journal'
        - type: object
          properties:
            error_message:
              type: string
              description: Description of why this journal transaction failed
          required:
            - error_message
      x-examples:
        example-1:
          error_message: ''
          id: 56f106e5-25a4-4eee-96fa-25bb05dc86bc
          entry_type: JNLC
          from_account: 8f8c8cee-2591-4f83-be12-82c659b5e748
          to_account: 399f85f1-cbbd-4eaa-a934-70027fb5c1de
          symbol: ''
          qty: null
          price: null
          status: pending
          settle_date: null
          system_date: null
          net_amount: '1000'
          description: ''
    Asset:
      title: Asset
      type: object
      description: 'Assets are sorted by asset class, exchange and symbol. Some assets are not tradable with Alpaca. These assets will be marked with the flag tradable=false'
      properties:
        id:
          type: string
          example: 904837e3-3b76-47ec-b432-046db621571b
          description: Asset ID
        class:
          type: string
          enum:
            - us_equity
            - crypto
          description: us_equity or crypto
        exchange:
          type: string
          example: NASDAQ
          description: 'AMEX, ARCA, BATS, NYSE, NASDAQ, NYSEARCA, OTC'
          enum:
            - AMEX
            - ARCA
            - BATS
            - NYSE
            - NASDAQ
            - NYSEARCA
            - OTC
        symbol:
          type: string
          example: AAPL
          description: The symbol of the asset
        name:
          type: string
          example: Apple Inc. Common Stock
          description: The official name of the asset
        status:
          type: string
          enum:
            - active
            - inactive
          description: active or inactive
          example: active
        tradable:
          type: boolean
          example: true
          description: Asset is tradable on Alpaca or not
        marginable:
          type: boolean
          example: true
          description: Asset is marginable or not
        shortable:
          type: boolean
          example: true
          description: Asset is shortable or not
        easy_to_borrow:
          type: boolean
          example: true
          description: Asset is easy-to-borrow or not (filtering for easy_to_borrow = True is the best way to check whether the name is currently available to short at Alpaca).
        fractionable:
          type: boolean
          example: true
          description: Asset is fractionable or not
      required:
        - id
        - class
        - symbol
    Position:
      description: ''
      type: object
      x-examples:
        example-1:
          asset_id: 93f58d0b-6c53-432d-b8ce-2bad264dbd94
          symbol: AAPL
          exchange: NASDAQ
          asset_class: us_equity
          asset_marginable: false
          qty: '4'
          avg_entry_price: '172.08'
          side: long
          market_value: '688.32'
          cost_basis: '688.32'
          unrealized_pl: '0'
          unrealized_plpc: '0'
          unrealized_intraday_pl: '0'
          unrealized_intraday_plpc: '0'
          current_price: '172.08'
          lastday_price: '168.88'
          change_today: '0.0189483657034581'
      properties:
        asset_id:
          type: string
          example: 904837e3-3b76-47ec-b432-046db621571b
          format: uuid
          description: Asset ID
        symbol:
          type: string
          example: AAPL
          description: Asset symbol
        exchange:
          type: string
          example: NASDAQ
          description: Exchange name of the asset
        asset_class:
          $ref: '#/components/schemas/AssetClass'
        asset_marginable:
          type: boolean
          description: Indicates if this asset is marginable
        avg_entry_price:
          type: string
          example: '100.0'
          description: Average entry price of the position
        qty:
          type: string
          example: '5'
          description: The number of shares
        side:
          type: string
          example: long
          enum:
            - long
        market_value:
          type: string
          example: '600.0'
          description: Total dollar amount of the position
        cost_basis:
          type: string
          example: '500.0'
          description: Total cost basis in dollar
        unrealized_pl:
          type: string
          example: '100.0'
          description: Unrealized profit/loss in dollars
        unrealized_plpc:
          type: string
          example: '0.20'
          description: Unrealized profit/loss percent (by a factor of 1)
        unrealized_intraday_pl:
          type: string
          example: '10.0'
          description: Unrealized profit/loss in dollars for the day
        unrealized_intraday_plpc:
          type: string
          example: '0.0084'
          description: Unrealized interday profit/loss percent (by a factor of 1)
        current_price:
          type: string
          example: '120.0'
          description: Current asset price per share
        lastday_price:
          type: string
          example: '119.0'
          description: Last day’s asset price per share based on the closing value of the last trading day
        change_today:
          type: string
          example: '0.0084'
          description: Percent change from last day price (by a factor of 1)
      required:
        - asset_id
        - symbol
        - exchange
        - asset_class
        - avg_entry_price
        - qty
        - side
        - market_value
        - cost_basis
        - unrealized_pl
        - unrealized_plpc
        - unrealized_intraday_pl
        - unrealized_intraday_plpc
        - current_price
        - lastday_price
        - change_today
    PositionOrOrderClosedReponse:
      title: PositionOrOrderClosedReponse
      type: object
      description: |-
        Represents the result of asking the api to close a position or cancel an order.

        If closing a position then `body` is the order sent to close out said position, otherwise `body` is the order that was canceled itself
      properties:
        symbol:
          type: string
          description: Symbol name of the asset
        status:
          type: string
          description: Http status code for the attempt to close this position
        body:
          $ref: '#/components/schemas/Order'
      required:
        - symbol
        - status
      x-examples:
        example-1:
          symbol: AAPL
          status: 200
          body:
            id: f7f25e89-939a-4587-aaf6-414a6b3c341d
            client_order_id: 52f8574c-96d5-49b6-94c1-2570a268434e
            created_at: '2022-02-04T16:53:29.53427917Z'
            updated_at: '2022-02-04T16:53:29.53427917Z'
            submitted_at: '2022-02-04T16:53:29.533738219Z'
            filled_at: null
            expired_at: null
            canceled_at: null
            failed_at: null
            replaced_at: null
            replaced_by: null
            replaces: null
            asset_id: b0b6dd9d-8b9b-48a9-ba46-b9d54906e415
            symbol: AAPL
            asset_class: us_equity
            notional: null
            qty: '2'
            filled_qty: '0'
            filled_avg_price: null
            order_class: ''
            order_type: market
            type: market
            side: sell
            time_in_force: day
            limit_price: null
            stop_price: null
            status: accepted
            extended_hours: false
            legs: null
            trail_percent: null
            trail_price: null
            hwm: null
            commision: '1.0'
        example-2:
          symbol: string
          status: string
          body:
            id: 61e69015-8549-4bfd-b9c3-01e75843f47d
            client_order_id: 61e69015-8549-4bfd-b9c3-01e75843f47d
            created_at: '2021-03-16T18:38:01.942282Z'
            updated_at: '2021-03-16T18:38:01.942282Z'
            submitted_at: '2021-03-16T18:38:01.942282Z'
            filled_at: '2021-03-16T18:38:01.942282Z'
            expired_at: '2021-03-16T18:38:01.942282Z'
            canceled_at: '2021-03-16T18:38:01.942282Z'
            failed_at: '2021-03-16T18:38:01.942282Z'
            replaced_at: '2021-03-16T18:38:01.942282Z'
            replaced_by: 61e69015-8549-4bfd-b9c3-01e75843f47d
            replaces: 61e69015-8549-4bfd-b9c3-01e75843f47d
            asset_id: 61e69015-8549-4bfd-b9c3-01e75843f47d
            symbol: AALP
            asset_class: us_equity
            notional: '4.2'
            qty: '4.2'
            filled_qty: '4.2'
            filled_avg_price: '4.2'
            order_class: bracket
            order_type: stop
            type: stop
            side: buy
            time_in_force: gtc
            limit_price: '3.14'
            stop_price: '3.14'
            status: filled
            extended_hours: true
            legs: null
            trail_price: '3.14'
            trail_percent: '5.0'
            hwm: '3.14'
            commission: '3.14'
    PortfolioHistory:
      description: Timeseries data for equity and profit loss information of the account.
      type: object
      x-examples:
        example-1:
          timestamp:
            - 1580826600000
            - 1580827500000
            - 1580828400000
          equity:
            - 27423.73
            - 27408.19
            - 27515.97
          profit_loss:
            - 11.8
            - -3.74
            - 104.04
          profit_loss_pct:
            - 0.000430469507254688
            - -0.0001364369455197062
            - 0.0037954277571845543
          base_value: 27411.93
          timeframe: 15Min
      properties:
        timestamp:
          type: array
          description: 'time of each data element, left-labeled (the beginning of time window)'
          items:
            type: integer
        equity:
          type: array
          description: equity value of the account in dollar amount as of the end of each time window
          items:
            type: number
        profit_loss:
          type: array
          description: profit/loss in dollar from the base value
          items:
            type: number
        profit_loss_pct:
          type: array
          description: profit/loss in percentage from the base value
          items:
            type: number
        base_value:
          type: number
          description: basis in dollar of the profit loss calculation
        timeframe:
          type: string
          description: time window size of each data element
      required:
        - timestamp
        - equity
        - profit_loss
        - profit_loss_pct
        - base_value
        - timeframe
      title: ''
    Calendar:
      title: Calendar
      type: object
      description: 'The calendar API serves the full list of market days from 1970 to 2029. It can also be queried by specifying a start and/or end time to narrow down the results. In addition to the dates, the response also contains the specific open and close times for the market days, taking into account early closures.'
      properties:
        date:
          type: string
          example: '2021-04-06'
          format: date
          description: Date string in YYYY-MM-DD format
        open:
          type: string
          example: '09:30'
          description: 'The time the market opens at on this date in HH:MM format'
        close:
          type: string
          example: '16:00'
          description: 'The time the market closes at on this date in HH:MM format'
        session_open:
          type: string
          example: '0700'
          deprecated: true
          description: this field has been deprecated please ignore
        session_close:
          type: string
          example: '1900'
          deprecated: true
          description: this field has been deprecated please ignore
      required:
        - date
        - open
        - close
    Error:
      title: Error
      type: object
      properties:
        code:
          type: number
        message:
          type: string
      required:
        - code
        - message
    Clock:
      description: Represents the current market time and open/close events.
      type: object
      x-examples:
        example:
          timestamp: '2018-04-01T12:00:00.000Z'
          is_open: true
          next_open: '2018-04-01T12:00:00.000Z'
          next_close: '2018-04-01T12:00:00.000Z'
        example-1:
          timestamp: '2022-02-16T13:06:05.210563128-05:00'
          is_open: true
          next_open: '2022-02-17T09:30:00-05:00'
          next_close: '2022-02-16T16:00:00-05:00'
      title: Clock
      properties:
        timestamp:
          type: string
          minLength: 1
          format: date-time
          description: Current timestamp
          example: '2022-02-16T13:06:05.210563128-05:00'
        is_open:
          type: boolean
          description: Whether the market is open or not
        next_open:
          type: string
          minLength: 1
          format: date-time
          description: Next market open timestamp
        next_close:
          type: string
          minLength: 1
          format: date-time
          description: Next market close timestamp
      required:
        - timestamp
        - is_open
        - next_open
        - next_close
    Document:
      type: array
      description: ''
      minItems: 1
      uniqueItems: true
      x-examples:
        example:
          - document_id: b792e8ae-2cb4-4209-85b9-32be4c2fcdd6
            document_type: account_statement
            document_date: '2019-08-24'
      items:
        type: object
        properties:
          document_id:
            type: string
            minLength: 1
            format: uuid
          document_type:
            $ref: '#/components/schemas/DocumentType'
          document_date:
            type: string
            minLength: 1
            format: date-time
        required:
          - document_id
          - document_type
          - document_date
    AccountStatusEvent:
      description: |-
        Represents a change in an Account's status, sent over the events streaming api.

        For partners who utilize Alpaca’s KYC service for opening brokerage accounts and additional kyc_results object is represented on the account status updates.
      type: object
      x-examples:
        example-1:
          account_id: 4db36989-6565-4011-9126-39fe6b3d9bf6
          account_number: ''
          at: '2021-06-14T09:59:15.232782Z'
          event_id: 122039
          kyc_results: null
          status_from: ''
          status_to: APPROVED
      title: AccountStatusEvent
      properties:
        account_id:
          type: string
          minLength: 1
        account_number:
          type: string
          minLength: 1
        status_from:
          $ref: '#/components/schemas/AccountStatus'
        status_to:
          $ref: '#/components/schemas/AccountStatus'
        reason:
          type: string
          minLength: 1
          description: Optional
        at:
          type: string
          minLength: 1
          description: Timestamp of event
        kyc_result:
          $ref: '#/components/schemas/KYCResult'
        event_id:
          type: integer
          description: monotonically increasing 64bit integer
      required:
        - account_id
        - account_number
        - status_from
        - status_to
        - reason
        - at
        - event_id
    JournalStatusEvent:
      description: |
        Represents a change in a Journal's status, sent over the events streaming api.
      type: object
      x-examples:
        example-1:
          at: '2021-05-07T10:28:23.163857Z'
          entry_type: JNLC
          event_id: 1406
          journal_id: 2f144d2a-91e6-46ff-8e37-959a701cc58d
          status_from: ''
          status_to: queued
      title: JournalStatusEvent
      properties:
        at:
          type: string
          minLength: 1
          description: Timestamp of event
        entry_type:
[...]
