/* You can add custom styles here. */

// @import "plugins/numbered";

.book-menu {
  a.perma-active {
    color: var(--color-link);
  }
}

aside nav ul li {
  margin: 0.75em 0;
}

.book-section-flat {
  margin-bottom: $padding-16 * 1.25;

  &:not(:first-child) {
    margin-top: $padding-16 * 1.25;
  }

  > ul {
    padding-inline-start: 0.5rem;
  }
  > ul.scrollspy {
    padding-inline-start: 1rem;
  }
}

.book-section-flat-custom {
  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 1rem;
  }
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "carnasregular";
}

h2 {
  font-family: "carnasregular";
}

h3 {
  font-family: "carnasregular";
}

p {
  font-size: 16px;
}

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

pre.entity {
  white-space: normal;
}

pre.entity li {
  list-style: none;
  margin-top: 0;
}

.spec-table {
  margin: 15px 0;
}
.spec-table .spec-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.spec-table .spec-left {
  width: 25%;
}
.spec-table .spec-name:before {
  content: "- ";
}
.spec-table .spec-right {
  width: 70%;
  border-bottom: 1px solid #e3e3e3;
}
.spec-table .spec-type {
  color: #9c9c9c;
  font-size: 90%;
  line-height: 1em;
}
.spec-table .required {
  color: #d45;
  margin-left: 8px;
}

.cta-btn {
  color: black !important;
  border-color: #ffd700 !important;
}

img[alt="trading-logo"] {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}

img[alt="broker-logo"] {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}

img[alt="market-logo"] {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 5px;
}

img[alt="oauth-logo"] {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 10px;
}

img[alt="Logo"] {
  vertical-align: middle;
  padding-bottom: 10px;
  height: 40px;
}

/* The following classes are used for the product top navigation bar on desktop */
.mobile-only {
  display: none;

  @media screen and (max-width: 952px) {
    display: initial;
  }
}

.container {
  @media screen and (min-width: 953px) {
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: 60px auto;
  }
  @media screen and (min-width: 1360px) {
    grid-template-rows: 80px auto;
  }
}

.book-menu {
  @media screen and (min-width: 953px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.book-page {
  @media screen and (min-width: 953px) {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
  }
}

.book-toc {
  @media screen and (min-width: 953px) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

aside.desktop-top-aside {
  display: none;

  @media screen and (min-width: 953px) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    nav.desktop-top-nav {
      position: fixed;
      z-index: 2;
      background: var(--body-background);
      height: 60px;
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      a.desktop-top-link {
        background: var(--body-background);
        text-decoration: none;
        color: var(--body-font-color);
        font-size: .875rem;
        font-weight: bold;
        line-height: 20px;
        padding: 10px 22px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        
        outline: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      
        &:focus {
            outline: none !important;
        }
    
        &.active {
          border-bottom: 5px var(--body-font-color) solid;
          margin-bottom: -5px;
        }
      }
    }
  }

  @media screen and (min-width: 1013px) {
    nav.desktop-top-nav {
      height: 80px;
      align-items: flex-end;

      a.desktop-top-link {
        font-size: 1rem;
        font-weight: bold;
        line-height: 20px;
        padding: 10px 32px;
        margin: 0 0 10px 0;

        &.active {
          border-bottom: 5px var(--body-font-color) solid;
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
